extends layout

block head
    link(rel="stylesheet", href="/stylesheets/creationJoueur.css")

block content
    img(src="/images/loup_solitaire.png")

    section
        div(ng-controller="playersListCtrl")
            p Choose one player to continue game
            table
                tr
                    th Name
                    th ID
                tr(ng-repeat="player in dbPlayers")
                    td
                        a(href="#" ng-click="restart(player._id)") {{player.name}}
                    td
                        a(href="#" ng-click="restart(player._id)") {{player._id}}
                    td
                        input(type="button" ng-click="deletePlayer(player._id)" value="Delete")
        h1 Création du personnage

        div#erreurs
            ul
                each e in erreursMsg
                    li=e
         //form(action="/jeu/1" method="post" ng-controller="formController" name="formAction" novalidate)
        form(ng-controller="formController" name="formAction" ng-submit="submitForm(formAction.playerName.$valid)" novalidate)
            div Player name
                input(type="text", id="playerNameInput", name="playerName", ng-model="newPlayerName", ng-minlength='3', ng-maxlength='50' required)
                div(ng-messages="formAction.playerName.$dirty && formAction.playerName.$error")
                    div(ng-message="required") This field is required!
                    div(ng-message="minlength") You need to enter more than 3 characters!
                    div(ng-message="maxlength") You can't enter more than 50 characters!
            fieldset
                legend Disciplines

                p Choisir 5 disciplines:
                div(ng-if="formValidator.isMoreThan5" class='notification') You can't choose more than 5 disciplines. Please uncheck others to choose this one.
                div(ng-show="!formValidator.isDiscCheckedValid") Need to select 5 items
                ul
                    li(ng-repeat="disc in disciplinesScope")
                        label
                            input(type="checkbox" name='{{disc.name}}' value="{{disc.value}}" ng-model="disc.checked" ng-change="changeDiscStatus($index)")
                            | {{disc.message}}
                //div#gauche
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.CAMOUFLAGE checked)
                        | Le camouflage
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.CHASSE checked)
                        | La chasse
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.SIXIEME_SENS checked)
                        | Sixième Sens
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.ORIENTATION checked)
                        | L'Orientation
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.GUERISON checked)
                        | La guérison
                //div#droite
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.MAITRISE_ARMES)
                        | La Maîtrise des Armes
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.BOUCLIER_PSYCHIQUE)
                        | Bouclier Psychique
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.PUISSANCE_PSYCHIQUE)
                        | Puissance Psychique
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.COMMUNICATION_ANIMALE)
                        | Communication Animale
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.MAITRISE_PSYCHIQUE_MATIERE)
                        | Maîtrise Psychique de la Matière
            fieldset
                legend Équipement

                p Choisir 2 items:
                div(ng-if="formValidator.isMoreThan2" class='notification') You can't choose more than 2 equipments. Please uncheck others to choose this one.
                div(ng-show="!formValidator.isEquipCheckedValid") Need to select 2 items
                div(ng-show="!formValidator.isWeaponSkillValid") You can not choose weapon since you didn't choose weapon skill.
                ul
                    li(ng-repeat="equip in equipmentsScope")
                        label
                            input(type="checkbox" name='{{equip.name}}' value="{{equip.value}}" ng-model="equip.checked" ng-change="changeEquipStatus($index)")
                            | {{equip.message}}
                //div#equipment
                    label
                        input(type="checkbox" name="arme" value=c.arme.EPEE)
                        | Épée (Arme)
                    label
                        input(type="checkbox" name="arme" value=c.arme.SABRE)
                        | Sabre (Arme)
                    label
                        input(type="checkbox" name="arme" value=c.arme.LANCE)
                        | Lance (Arme)
                    label
                        input(type="checkbox" name="arme" value=c.arme.MASSE_ARME)
                        | Masse d'Arme (Arme)
                    label
                        input(type="checkbox" name="arme" value=c.arme.MARTEAU_GUERRE)
                        | Marteau de Guerre (Arme)
                    label
                        input(type="checkbox" name="arme" value=c.arme.HACHE)
                        | Hâche (Arme)
                    label
                        input(type="checkbox" name="arme" value=c.arme.BATON)
                        | Bâton (Arme)
                    label
                        input(type="checkbox" name="arme" value=c.arme.GLAIVE)
                        | Glaive (Arme)
                    label
                        input(type="checkbox" name="objetSpecial" value=c.objetSpecial.GILET_CUIR_MARTELE checked)
                        | Gilet de Cuir Martelé (Objet Spécial)
                    label
                        input(type="checkbox" name="objet" value=c.objet.POTION_LAMPSUR checked)
                        | Potion de Lampsur (Objet dans le sac à dos)
                    label
                        input(type="checkbox" name="objet" value=c.objet.RATIONS_SPECIALES)
                        | Rations spéciales (Objet dans le sac à dos)
            input.button(type="submit" value="Commencer la partie!")
